In [1]:
import pandas as pd

# Use the 'engine' object directly, not db.engine
df = pd.read_csv('../scripts/telegram_scraped_data.csv')

# Remove duplicates
df = df.drop_duplicates()

# Handle missing values
df.fillna('', inplace=True)

# Check if 'column_name' exists in the DataFrame columns
if 'column_name' in df.columns:
    # Standardize formats only if 'column_name' exists
    df['column_name'] = df['column_name'].astype(str)

    # Validate data (only if 'column_name' exists)
    df = df[df['column_name'].str.len() > 0]
else:
    print("Column 'column_name' not found in DataFrame. Skipping operations on this column.")

# Store cleaned data in a database
#df.to_sql('cleaned_data', engine, if_exists='replace', index=False)

Column 'column_name' not found in DataFrame. Skipping operations on this column.

C:\Users\HP\AppData\Local\Temp\ipykernel_1792\4251001227.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna('', inplace=True)

In [2]:
df.head

<bound method NDFrame.head of         channel  message_id  \
0     DoctorsET         864
1     DoctorsET         863
2     DoctorsET         862
3     DoctorsET         861
4     DoctorsET         860
...         ...         ...
1671      EAHCI        2143
1672      EAHCI        2142
1673      EAHCI        2141
1674      EAHCI        2140
1675      EAHCI        2139

                                                   text                 date  \
0     https://youtu.be/5DBoEm-8kmA?si=LDLuEecNfULJVD...  2023-12-18 17:04:02
1     ዶክተርስ ኢትዮጵያ በ አዲስ አቀራረብ በ ቴሌቪዥን ፕሮግራሙን ለመጀመር ከ...  2023-11-03 16:14:39
2     ሞት በስኳር \n\nለልጆቻችን የምናሲዘው ምሳቃ ሳናቀው እድሚያቸውን ይቀን...  2023-10-02 16:37:39
3     ከ HIV የተፈወሰ ሰው አጋጥሟችሁ ያቃል ? ፈውስ እና ህክምና ?\n\nሙ...  2023-09-16 07:54:32
4     በቅርብ ጊዜ በሃገራችን ላይ እየተስተዋለ ያለ የተመሳሳይ ፆታ ( Homos...  2023-09-01 16:16:15
...                                                 ...                  ...
1671                                                     2024-06-07 10:43:35
1672  #2 ቀን ቀረው💥የግርዛት_ስልጠና_Addis_Ababa\n#Circumcisio...  2024-06-07 10:43:35
1673  #እሁድ ይጀምራል ✈️#Nekemte_and_Dessie_Ultrasound_Tr...  2024-06-07 07:39:32
1674  💥ዛሬ ይጀምራል\n#የሞያ_ፈቃዳችሁን_ላላደሳችሁ_CPD training \n👉...  2024-06-06 14:18:26
1675                                                     2024-06-05 14:14:47

        views           media_type
0      8825.0  MessageMediaWebPage
1     10616.0  MessageMediaWebPage
2     12775.0  MessageMediaWebPage
3     12817.0  MessageMediaWebPage
4     14437.0  MessageMediaWebPage
...       ...                  ...
1671  14894.0    MessageMediaPhoto
1672  13579.0    MessageMediaPhoto
1673   2813.0    MessageMediaPhoto
1674   3148.0    MessageMediaPhoto
1675

[1676 rows x 6 columns]>

In [1]:
import pandas as pd

# Load scraped data
df = pd.read_csv('../scripts/DoctorsET_data.csv')
df.head()

# Data cleaning
df.drop_duplicates(inplace=True)  # Remove duplicates
df['text'].fillna('', inplace=True)  # Fill missing text
df['date'] = pd.to_datetime(df['date'])  # Standardize date format

# Save cleaned data
df.to_csv('cleaned_DoctorsET_data.csv', index=False)

C:\Users\HP\AppData\Local\Temp\ipykernel_13896\3014419564.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['text'].fillna('', inplace=True)  # Fill missing text

In [2]:
dataa=pd.read_csv('./cleaned_DoctorsET_data.csv')
dataa.head()

,id,text,date,views,media_type
0,864,https://youtu.be/5DBoEm-8kmA?si=LDLuEecNfULJVD...,2023-12-18 17:04:02+00:00,8831.0,MessageMediaWebPage
1,863,ዶክተርስ ኢትዮጵያ በ አዲስ አቀራረብ በ ቴሌቪዥን ፕሮግራሙን ለመጀመር ከ...,2023-11-03 16:14:39+00:00,10619.0,MessageMediaWebPage
2,862,ሞት በስኳር \n\nለልጆቻችን የምናሲዘው ምሳቃ ሳናቀው እድሚያቸውን ይቀን...,2023-10-02 16:37:39+00:00,12779.0,MessageMediaWebPage
3,861,ከ HIV የተፈወሰ ሰው አጋጥሟችሁ ያቃል ? ፈውስ እና ህክምና ?\n\nሙ...,2023-09-16 07:54:32+00:00,12821.0,MessageMediaWebPage
4,860,በቅርብ ጊዜ በሃገራችን ላይ እየተስተዋለ ያለ የተመሳሳይ ፆታ ( Homos...,2023-09-01 16:16:15+00:00,14441.0,MessageMediaWebPage

In [4]:
import psycopg2
import pandas as pd

# Database connection parameters
DB_NAME = "medical_data"
DB_USER = "postgres"
DB_PASSWORD = "Malede@191919"
DB_HOST = "localhost"
DB_PORT = "5432"

# Connect to PostgreSQL
conn = psycopg2.connect(
    dbname=DB_NAME,
    user=DB_USER,
    password=DB_PASSWORD,
    host=DB_HOST,
    port=DB_PORT
)
cur = conn.cursor()

# Load cleaned data from CSV
df = pd.read_csv('cleaned_DoctorsET_data.csv')

# Insert data into the warehouse
for index, row in df.iterrows():
    cur.execute("""
        INSERT INTO messages (id, text, date, views, media_type)
        VALUES (%s, %s, %s, %s, %s)
    """, (row['id'], row['text'], row['date'], row['views'], row['media_type']))

# Commit the transaction
conn.commit()

# Close the connection
cur.close()
conn.close()

NumericValueOutOfRange: integer out of range